
@{
    ViewData["Title"] = "Burn Secret";
}

<div>
  <h3>Click to continue:</h3><br/>

  <form method="POST" asp-antiforgery="true" asp-action="BurnSecretConfirmed">
      <fieldset>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn--general-heavy btn-danger btn btn-large btn-block btn-custom cufon">Burn Secret</button>
            <a href="/" class="btn btn-large btn-block btn-custom">Cancel</a>
          </div>
        </div>
        <hr/>
        <p class="lighter hint text-center">Burning a secret is permanent and cannot be undone</p>
      </fieldset>
    </form>
</div>

