@model OneTimeSecret.Web.Models.BurnSecretConfirmedViewModel
@{
    ViewData["Title"] = "Viewing Secret";
}

<div>
  <br/>
  <h4>This secret that was burned at @Model.BurnedAt.ToString()</h4>

  <p class="lighter hint">This secret has been deleted and can never be retrieved.</p>
  <br/>
  <a href="/" class="btn btn-large btn-block btn-custom btn--general-heavy">Create another secret link</a>

</div>

