@model OneTimeSecret.Web.Models.CreatedSecretViewModel
@{
    ViewData["Title"] = "CreateSecret";
}

<div class="">


  <div class="uri">
    <h3>Share this link:</h3><br>
    <p id="copyTarget">@Model.AccessUrl</p>
    @if (Model.PassphraseRequired)
    {
      <p><strong>This link requires a passphrase</strong></p>
    }
  </div>
  <p>
    <input class="btn--inline btn--general-heavy" type="button" id="copy" value="Copy!"/>
    <br/><br/>
    <strong>Expires in @Model.DurationString</strong>
    <span class="smaller lighter">(@Model.Expires.ToString())</span>
  </p>
 <hr/>

  <a class="btn btn-block btn-large" href="@Model.BurnUrl">Burn this secret*</a>
  <p class="hint text-center">* Burning a secret will delete it before it has been read (click to confirm).</p>
</div>

@section scripts{ 
  <script>
    document.getElementById("copy").addEventListener("click", function () {
      CopyToClipboard("copyTarget");
    });
  </script>
}