@{
  ViewData["Title"] = "Create one time secret";
}

<div class="">

  <h1 class="text-center">Paste a password, secret message or private link below.</h1>
  <p class="lead">Keep sensitive info out of your email and chat logs.</p>




  <form id="createSecret" method="post" autocomplete="off" asp-action="CreateSecret" asp-controller="Secret" asp-antiforgery="true" class="form-horizontal">
    <fieldset>
      <div class="text-input">
        <textarea rows="7" class="btn-block secret" name="secret" autocomplete="off" placeholder="Secret content goes here..."></textarea>
        <div class="chars-display lightest"></div>
      </div>
      <div class="well options-box">
        <div class="title">Privacy Options</div>
        <div class="control-group">
          <label class="control-label lighter" for="passphraseField">Passphrase:</label>
          <div class="controls">
            <input class="input-block-level" type="text" name="passphrase" id="passphraseField" value="" placeholder="A word or phrase that&#39;s difficult to guess" autocomplete="off" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label lighter" for="recipientField">Lifetime:</label>
          <div class="controls">
            <select name="ttl" class="span3">
              <option value="300">5 minutes</option>
              <option value="1800">30 minutes</option>
              <option value="3600">1 hour</option>
              <option value="14400">4 hours</option>
              <option value="43200">12 hours</option>
              <option value="86400" selected>1 day</option>
              <option value="259200">3 days</option>
              <option value="604800">7 days</option>
            </select>
          </div>
        </div>
      </div>
      <button class="btn--general-heavy create btn-large btn-block btn-custom cufon" type="submit" name="kind" value="share">Create a secret link*</button>
    </fieldset>
  </form>
  <hr />
  <p class="hint text-center">* A secret link only works once and then disappears forever.</p>
</div>