@model OneTimeSecret.Web.Models.ShowSecretViewModel
@{
    ViewData["Title"] = "Viewing Secret";
}

<div>
  @if (Model.DoesntExist)
  {
  <h3>The secret at this location has already been viewed and cannot be retrieved again.</h3>
  }
  else
  {
  <h3>This secret that was sent to you is:</h3>

  <textarea class="input-block-level secret" readonly="readonly" rows="4">@Model.Secret</textarea>

  <p class="lighter hint">This message can never be displayed again.</p>
  }
</div>

