@model OneTimeSecret.Web.Models.ShowSecretViewModel
@{
  ViewData["Title"] = "ShowSecret";
}

<div>
  <h3>Click to continue:</h3><br />
  @if (Model.DidError)
  {
      <label>There was an error accessing the secret, this is usually caused by an incorrect passphrase.</label>
  }
  <form method="POST" asp-antiforgery="true" asp-action="ShowSecretConfirmed">
    <fieldset>
      <div class="control-group">
        <div class="controls">
          @if (Model.HasPassphrase)
          {
          <input type="text" name="passphrase" placeholder="A passphrase is required for this secret" />
          }
          <button type="submit" class="btn--general-heavy btn btn-large btn-block btn-custom cufon">View Secret</button>
        </div>
      </div>

      <p class="lighter">(careful: we will only show it once.)</p>
    </fieldset>
  </form>
</div>

